<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {{/*  css styles  */}}
        {{ $tailwind := resources.Get "styles/tailwind.build.css" }}
        {{ $styles := slice $tailwind | resources.Concat "css/styles.css" }}
        {{ if site.IsServer -}}
            <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
            {{- else -}}
            {{- $styles = $styles | minify | fingerprint | resources.PostProcess -}}
            <link
                rel="stylesheet"
                href="{{ $styles.RelPermalink }}"
                integrity="{{ $styles.Data.Integrity }}"
                crossorigin="anonymous"
            />
        {{- end }}
        <title>Document</title>
    </head>
    <body>
        {{ block "main" . }}> {{ end }}>

        {{/*  the webpack bundle result  */}}
        <script src="/js/main.js"></script>
    </body>
</html>
